@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
/* Reset Style */

/* Page Wrapper/Container Style */
.container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

/* Responsive Table Style */
.responsive-table {
  background-color: #08659b;
  border-collapse: collapse;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.02);
  width: 100%;
  margin: 2rem 0;
  overflow: hidden;
}
.responsive-table__row {
  display: grid;
  border-bottom: 1px solid #edeef2;
  padding: 0 1.5rem;
}
@media (min-width: 768px) {
  .responsive-table__row {
    grid-template-columns: 2fr 1fr 2fr 2fr 1fr;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .responsive-table__row {
    grid-template-columns: 1fr 2fr 1fr;
  }
}
.responsive-table__row th,
.responsive-table__row td {
  padding: 1rem;
}
.responsive-table__head {
  background-color: #2a98d8;
}
@media (max-width: 991px) {
  .responsive-table__head {
    display: none;
  }
}
.responsive-table__head__title {
  display: flex;
  align-items: center;
  font-weight: 500;
  text-transform: capitalize;
}
.responsive-table__body .responsive-table__row {
  transition: 0.1s linear;
  transition-property: color, background;
}
.responsive-table__body .responsive-table__row:last-child {
  border-bottom: none;
}
.responsive-table__body .responsive-table__row:hover {
  color: #ffffff;
  background-color: #4f7dfb;
}
.responsive-table__body__text {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.responsive-table__body__text::before {
  margin-right: 1rem;
  font-weight: 600;
  text-transform: capitalize;
}
@media (max-width: 991px) {
  .responsive-table__body__text::before {
    content: attr(data-title) " :";
  }
}
@media (max-width: 400px) {
  .responsive-table__body__text::before {
    width: 100%;
    margin-bottom: 1rem;
  }
}
.responsive-table__body__text--name {
  font-weight: 600;
}
@media (min-width: 768px) {
  .responsive-table__body__text--name::before {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .responsive-table__body__text--name {
    grid-column: 1/2;
    flex-direction: column;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .responsive-table__body__text--status, .responsive-table__body__text--types, .responsive-table__body__text--update {
    grid-column: 2/3;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .responsive-table__body__text--country {
    grid-column: 3/-1;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .responsive-table__body__text--name, .responsive-table__body__text--country {
    grid-row: 2;
  }
}

/* SVG Up Arrow Style */
.up-arrow {
  height: 100%;
  max-height: 1.8rem;
  margin-left: 1rem;
}

/* SVG User Icon Style */
.user-icon {
  width: 100%;
  max-width: 4rem;
  height: auto;
  margin-right: 1rem;
}

/* Status Indicator Style */
.status-indicator {
  display: inline-block;
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 50%;
  background: #222222;
  margin-right: 0.5rem;
}
.status-indicator--active {
  background: #25be64;
}
.status-indicator--inactive {
  background: #dadde4;
}
.status-indicator--new {
  background: #febf02;
}

.last-row {
  background-color: #ff5100b7;
}
 /* Dark mode styles */
 .dark-mode .responsive-table {
  background-color: #1c1c1c;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}
.dark-mode .responsive-table__head {
  background-color: #333333;
}
.dark-mode .responsive-table__row {
  border-bottom: 1px solid #444;
}
.dark-mode .responsive-table__body .responsive-table__row:hover {
  background-color: #555555;
  color: #ffffff;
}
.dark-mode .responsive-table__row--total {
  background-color: #aa0000b7;
}
.dark-mode .last-row {
  background-color: #ff51006e;
}

.delete-module {
  background-color: rgb(182, 31, 31)!important;
}
.delete-module:hover {
  background-color: rgb(226, 21, 21)!important;
}
