.calendar-day {
    position: relative;
    cursor: pointer;
    padding: 10px;
    text-align: center;
}

.calendar-day.has-event {
    font-weight: bold;
}

.event-dot {
    width: 6px;
    height: 6px;
    background-color: rgba(255, 17, 0, 0.986);
    border-radius: 50%;
    margin: 4px auto;
}

.calendar-table {
width: 100%;
border-collapse: collapse;
text-align: center;
border-radius: 20px;
}

.calendar-table td {
padding: 10px;
border: 1px solid #ffffff;
min-width: 50px;
vertical-align: top;
color: #FFF;
background: #38A5DD;
cursor: pointer;
}
.calendar-table th {
padding: 10px;
border: 1px solid #ffffff;
background: rgb(173, 25, 241);
min-width: 50px;
vertical-align: top;
color: #FFF;
}

/* Stili dark mode */
.dark-mode .calendar-day {
    background: #333; /* Sfondo più scuro */
    color: #f1f1f1; /* Testo più chiaro per visibilità */
    border: 1px solid #444; /* Bordo più scuro */
}

.dark-mode .calendar-day.has-event {
    font-weight: bold;
    color: #ff6b6b; /* Un colore che risalta per gli eventi */
}

.dark-mode .event-dot {
    background-color: #e74c3c; /* Cambia colore del pallino evento */
}

.dark-mode .calendar-table {
    background: #222; /* Sfondo generale della tabella */
    border: 1px solid #444;
}

.dark-mode .calendar-table td {
    padding: 10px;
    border: 1px solid #555;
    color: #f1f1f1; /* Testo bianco */
    background: #333; /* Celle scure */
    cursor: pointer;
}

.dark-mode .calendar-table th {
    padding: 10px;
    border: 1px solid #555;
    background: #444; /* Intestazione più scura */
    color: #f1f1f1; /* Testo bianco */
    font-weight: bold;
}
/* Aggiungi questa classe alle tabelle che devono essere scorrevoli orizzontalmente */
.scrollable-table {
    overflow-x: auto;
    white-space: nowrap;
}

/* Mobile Styles */
@media (max-width: 400px) {
    .calendar-container {
        overflow-x: auto;
        display: block;
        width: 100%;
    }

    .calendar-table {
        width: 350px; /* Permette di scorrere la tabella */
        min-width: 100%;
    }

    .calendar-table td, .calendar-table th {
        padding: 3px; /* Ulteriore riduzione */
        min-width: 35px; /* Celle più piccole */
        font-size: 10px; /* Testo più piccolo per adattarsi */
    }
}