.calendar-day {
    position: relative;
    cursor: pointer;
    padding: 10px;
    text-align: center;
}

.calendar-day.has-event {
    font-weight: bold;
}

.event-dot {
    width: 6px;
    height: 6px;
    background-color: rgba(255, 17, 0, 0.986);
    border-radius: 50%;
    margin: 4px auto;
}

.calendar-table {
width: 100%;
border-collapse: collapse;
text-align: center;
border-radius: 20px;
}

.calendar-table td {
padding: 10px;
border: 1px solid #ffffff;
min-width: 50px;
vertical-align: top;
color: #FFF;
background: #38A5DD;
}
.calendar-table th {
padding: 10px;
border: 1px solid #ffffff;
background: rgb(173, 25, 241);
min-width: 50px;
vertical-align: top;
color: #FFF;
}