* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: system-ui;
}

.titleh3 {
    color: #FFF;
    font-family: monospace;
    font-size: 20px;
    position: relative;
    display: inline-block;
}

/* Aggiunta del cursore lampeggiante */
.titleh3::after {
    content: "";
    display: inline-block;
    width: 2px;  /* Larghezza del cursore */
    height: 14px; /* Altezza corrispondente alla dimensione del testo */
    margin-left: 1.5px; /* Spazio tra testo e cursore */
    background: #FFF; /* Colore del cursore */
    animation: blink 1s infinite;
    border-radius: none !important; 
}

/* Definizione dell'animazione per il cursore lampeggiante */
@keyframes blink {
    0%, 50% {
    opacity: 1;
    }
    50.01%, 100% {
    opacity: 0;
    }
}

body {
    background: rgb(111,64,132);
    background: linear-gradient(
        20deg,
        rgba(111,64,132,1) 0%,
        rgba(52,171,227,1) 50%,
        rgba(87,178,134,1) 100%
    );
    min-height: 100vh;
}



.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    border-radius: 20px;
    margin-top: -100px;
}


/* Pulsante Tema Scuro */
.theme-toggle {
    position: bottom;
    top: 20px;
    right: 20px;
    background: #333;
    color: #fff;
    border: none;
    padding: 10px 15px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(46, 45, 45, 0.2);
    transition: background 0.3s, color 0.3s;
}

.logout {
    position: bottom;
    top: 20px;
    right: 20px;
    background: #a31a1a;
    color: #fff;
    border: none;
    padding: 10px 15px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(46, 45, 45, 0.2);
    transition: background 0.3s, color 0.3s;
}

.theme-toggle:hover {
    background: #ddd;
}

.logout:hover {
    background: #ddd;
}
/* Modalità Tema Scuro */
.dark-mode {
    background: rgb(59, 58, 58) !important;
    color: #f1f1f1 !important;
}

.dark-mode .login-title {
    color: #c0baba;
    text-shadow: 2px 2px 6px rgba(255, 255, 255, 0.4);

}

.dark-mode .screen {
    background: linear-gradient(90deg, #222, #333, #444);
    box-shadow: 0px 0px 24px #111;
}

.dark-mode .screen__background__shape1 {
    background: #3B3A3A;
}

.dark-mode .login__submit {
    background: #444;
    color: #fff;
    border-color: #666;
}

.dark-mode .login__submit:hover {
    background: #666;
}

.dark-mode .login-with-google-btn {
    background: #444;
    color: #fff;
    border-color: #666;
}

.dark-mode .login-with-google-btn:hover {
    background: #666;
}

/* Piccola immagine sopra il titolo */
.header-image {
    width: 20%;
    text-align: center;

    height: 100px;
}

.header-image img {
    margin-top: 20px;
    width: 100px;   /* Regola la dimensione dell'immagine a piacere */
    height: 80px;
}