/* Container per le schede */
.users-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}


/* Card utente */
.user-card {
  background-color: #fff;
  width: 100%;
  max-width: 350px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.dark-mode .user-card {
  background-color: #2a2a2a;
  box-shadow: 0 0 15px rgba(255,255,255,0.1);
}

/* Hover su Card utente */
.user-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
}

.dark-mode .user-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 20px rgba(255,255,255,0.2);
}

/* Header della card */
.user-card-header {
  background-color: #009879;
  color: #fff;
  padding: 15px;
  font-size: 1.1rem;
  font-weight: bold;
}

/* Se l'utente è inattivo, aggiungi la classe "inactive" per far diventare il background rosso */
.user-card-header.inactive {
  background-color: #FFC107; /* Puoi usare anche un codice esadecimale come #e74c3c */
}

/* Versione dark mode per utenti inattivi */
.dark-mode .user-card-header.inactive {
  background-color: #ffc107b9; /* Scegli una tonalità di rosso adatta alla dark mode */
}


.dark-mode .user-card-header {
  background-color: #007f68;
}

/* Sezione dettagli */
.user-card-body {
  padding: 15px;
  font-size: 0.95rem;
}

.user-card-body p {
  margin: 8px 0;
  color: #333;
}

.dark-mode .user-card-body p {
  color: #ccc;
}

/* Sezione azioni */
.user-card-actions {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  padding: 10px 15px 15px;
  justify-content: center;
}
.user-card-actions a {
  background-color: #009879;
  color: #fff;
  padding: 8px 10px;
  text-decoration: none;
  border-radius: 4px;
  font-size: 0.85rem;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.dark-mode .user-card-actions a {
  background-color: #007f68;
}

.user-card-actions a:hover {
  background-color: #007f66;
  transform: scale(1.05);
}

.dark-mode .user-card-actions a:hover {
  background-color: #006856;
}

.user-card-actions a.delete {
  background-color: #e74c3c;
}

.dark-mode .user-card-actions a.delete {
  background-color: #c0392b;
}

.user-card-actions a.delete:hover {
  background-color: #c0392b;
}

.dark-mode .user-card-actions a.delete:hover {
  background-color: #a83227;
}

/* Responsive */
@media screen and (max-width: 480px) {
  .users-container {
    padding: 0 10px;
  }
  
  .user-card {
    max-width: 100%;
  }
  
}
